#home-container{
    display: flex;
    // border-left: 2px solid black;
    #left-side{
        width:20%;
        border-right: 2px solid black;
    }

    #feed-posts{
        width:55%;
        padding:10px;
    }
    #user-friends{
        width:25%;
        padding: 10px;
        border-left: 2px solid gray;
        // height: ;
        min-height: 100vh;
        background-color: beige;
        overflow-y: scroll;
    }
}